.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
# intellij project file
*.iml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
